*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    }


header{
    background-color: white;
    padding: 25px;
}


/* .container{
    display: flex;
    align-items: center;
} */

.flex-nav{
    display: flex;
    justify-content: space-between;
    
}


.nav-1 li{
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}



.nav-2 li{
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    margin-top: 6px;
   }
   
.btn-white {
margin-left: 30px;
border: none
}

.btn-blue2 {
background-color:rgb(0, 106, 255);
color: white;
padding: 5px;
border: none;
margin-left: 10px;
}

/* <!-- Start Main --> */
.main-1 {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(93, 254, 233);
    }

.titolo-1 {
    font-size: 70px;
    text-align: left;
    margin-left: 310px;

}

.btn-blue3 {
    background-color:rgb(0, 106, 255);
    color: white;
    padding: 8px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    


.container {
margin: auto;
width: 85%;
height: 300px; 
display: flex;
margin-top: 50px;
}

.box-text {
width: 30%;
font-size: 17px;
margin-left: 200px;
}

.fa-solid {
margin-top: 40px;
font-size: 50px;
}
.box-pic {
    width: 70%;
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
}

/* <!-- Start Columns --> */

.big-container {
    width: 65%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 1100px;
    padding-top: 220px;
    ;}

.Titolo2 {
    font-size: 50px;
    text-align: left;
}

#Btn2 {
    margin-left: 50px;
}
#Btn1 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.container-columns {
width: 80%;
margin: 0 auto;
height: 500px;
background-color: rgb(255, 255, 255);
display: flex;
justify-content:space-between;
;}

.column1 {
height: 600px;
flex-basis: 25%;
border: 1px solid black;
text-align: left;
}

.content-column1 {
margin-left: 7px;
font-size: 13px;

}

.method {
margin-top: 10px;
margin-bottom: 10px;}

.italic {
    font-style: italic;
    margin-top: 10px;
    ;
}

.fa-user {
    font-size: 15px;
    margin-top: 20px;
}
.fa-users {
    font-size: 15px;
    margin-top: 20px;}
    
.n2 {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 90px;
}
.fa-folder {
    font-size: 15px;
    margin-top: 20px;
}
.fa-share-nodes {
    font-size: 15px;
    margin-top: 20px;
}

.fa-check {
    color: blueviolet;
    font-size: 15px;
    margin-top: 5px;
    }
    

.btn-blue4 {
    background-color:rgb(0, 106, 255);
    color: white;
    padding: 8px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    }
.small-section {
text-align: center;
}


.column2 {
    height: 600px;
    flex-basis: 25%;
    border: 1px solid black;
    text-align: left;
    }


.column3 {
        height: 600px;
        flex-basis: 25%;
        border: 1px solid black;
        text-align: left; }


 /* <!-- start mini container --> */

.mini-container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
    ;}

.team {
    width: 65%;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    border-bottom: none;

}
.fa-house {
    font-size: 15px;
    margin-top: 4px;
}
.text-left {
    flex-basis: 60%;
    height: 200px;
    border: 1px solid black;
    border-right: none;
    line-height: 30px;
}
.enterprise {
margin-left: 25px;
margin-top: 10px;
}


.contact {
    flex-basis: 40%;
    background-color: white;
    border: 1px solid black;
    border-left: none;
}

.btn-blue5 {
    background-color:rgb(0, 106, 255);
    color: white;
    padding: 8px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    }


    /* end mini container */
    .container2 {
    margin: auto;
    width: 100%;
    height: 500px; 
    display: flex;
    }

    .main-2 {
        width: 65%;
        margin: auto;
        margin-top: 50px;
        }

    .box-text2 {
    width: 30%;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 20px;
    }

.Partn {
font-size: 27px;
line-height: 30px;
}


    .btn-white6 {
        background-color:rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 8px;
        border: 1px solid black;
        margin-top: 30px;
        }
    .box-pic2 {
        width: 60%;
        height: 520px;
        background-image:url(../img/partner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .Esegui-Diagnosi {
    width: 65%;
    background-color: #ffffff;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    }

.Esegui-Diagnosi h3 {
    text-align: left;
    font-size: 33px;
    margin-top: 140px;
 }

  .text-pics {
    background-color: rgb(255, 255, 255);
    height: 650px;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;  }

  .text-pic1 {
height: 270px;
background-color: rgb(255, 255, 255);
flex-basis: 20%;
margin-right: 80px;
margin-left: 120px;
margin-top: 30px;
 }
  
 text-pics, p {
    margin-top: 10px;
    font-size: 12px;
    display: inline-block;
    letter-spacing: 0,1px;

    
 }


.text-pic2 {
height: 270px;
background-color: rgb(255, 255, 255);
flex-basis: 20%;
margin-right: 70px;
margin-top: 30px;

}

.text-pic3 {
height: 270px;
background-color: rgb(255, 255, 255);
flex-basis: 20%;
margin-right: 40px;
margin-top: 30px;

; }

.text-pic4 {
height: 270px;
background-color: rgba(255, 255, 255, 0.628);
flex-basis: 20%;
margin-left: 80px;
margin-right: 70px;
margin-left: 120px;
}

.text-pic5 {
 height: 270px;
background-color: rgb(255, 255, 255);
flex-basis: 20%;
margin-right: 70px;
 }


.text-pic6 {
height: 270px;
background-color: rgb(255, 255, 255);
flex-basis: 20%;
}

.mini-section {
    height: 100px;
    width: 32.5%;
    background-color: rgb(255, 255, 255);
margin-left: 380px;
margin-top: 100px;
margin-bottom: 100px;
}

.a500k {
    font-size: 35px;
}

.super-box {
width: 100%;
height: 400px;
background-color: beige;
display: flex;
}

.columnbig1 {
height: 400px;
background-color: yellow;
width: calc(100vw/3);
display: flex;
flex-wrap: wrap;}

.Designit {
    background-color: rgb(255, 0, 0);
    width: calc(100vw/6);
    height:200px;
    background-image: url(../img/topps.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.Designit2 {
    background-color: rgb(0, 204, 255);
    width: calc(100vw/6);
    height:200px;
    background-image: url(../img/university_of_florida.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.Designit3 {
    background-color: rgb(9, 233, 9);
    width: calc(100vw/6);
    height:200px;
    background-image: url(../img/designit.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.Designit4 {
    background-color: rgb(146, 29, 5);
    width: calc(100vw/6);
    height:200px;
    background-image: url(../img/arizona_state_university.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.columnbig2 {
    height: 400px;
    background-color: rgb(185, 186, 185);
    width: calc(100vw/3);

    }

.wipro {
    width: 75px;
    margin-left: 50px;
    margin-top: 30px;
}

.Membri {
    width: 70%;
    background-color: rgb(185, 186, 185);
    height: 200px;
    margin-left: 50px;
}
    
    .columnbig3 {
        height: 400px;
        background-color: rgb(19, 83, 21);
        width: calc(100vw/3);
        display: flex;
        flex-wrap: wrap;}
 
        .Designit5 {
            background-color: rgb(255, 170, 0);
            width: calc(100vw/6);
            height:200px;
            background-image: url(../img/clear_channel.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
        }
        .Designit6 {
            background-color: rgb(0, 15, 175);
            width: calc(100vw/6);
            height:200px;
            background-image: url(../img/lonely_planet.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
        }
        .Designit7 {
            background-color: rgb(194, 3, 9);
            width: calc(100vw/6);
            height:200px;
            background-image: url(../img/world_bicycle_relief.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
        }
        .Designit8 {
            background-color: rgb(26, 172, 205);
            width: calc(100vw/6);
            height:200px;
            background-image: url(../img/hearst_corp.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
        }
                                



.Blue-Box {
background-color: rgb(0, 191, 255);
width: 100%;
height: 250px;
margin: 0 auto; 
display: flex;
}

.Porta-div {
    width: 25%;
    height: 70px;
    background-color: rgb(0, 191, 255);
    margin-left: 370px; 
    margin-top: 90px;
    display: inline-block;
    position: relative;


}

.whitebutton-div {
    width: 25%;
    height: 70px;
    background-color: rgb(0, 191, 255);
    margin-left: 370px; 
    margin-right: 100px;
    display: inline-block;
    position: relative;
    margin-top: 90px;
}

.wbtn {
    border: none;
    padding: 7px;    
}

.Questions {
background-color: green;
width: 65%;
height: 250px;
margin: 0 auto;
}


.Section-list {
    background-color: rgb(92, 92, 92);
    width: 70%;
    height: 220px;
    margin: 0 auto;
    display: flex;
}

.box1 {
width: calc(70vw/5);
background-color: aqua;
height: 220px;}

.box2 {
    width: calc(70vw/5);
    background-color: rgb(12, 59, 59);
    height: 220px;}
    
    .box3 {
        width: calc(70vw/5);
        background-color: rgb(0, 106, 255);
        height: 220px;
        }

        .box4 {
            width: calc(70vw/5);
            background-color: rgb(12, 59, 59);
            height: 220px;
            }
            .box5 {
                width: calc(70vw/5);
                background-color: rgb(0, 255, 229);
                height: 220px;
                }

