*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    }


header{
    background-color: white;
    padding: 20px;
}


/* .container{
    display: flex;
    align-items: center;
} */

.flex-nav{
    display: flex;
    justify-content: space-between;
    
}


.nav-1 li{
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}



.nav-2 li{
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    margin-top: 6px;
   }
   


H1 {
    font-size: 40px;
    text-align: left;
}

.main-1 {
width: 75%;
margin: auto;
margin-top: 50px;
background-color: aqua;
}

.container {
background-color: blue;
margin: auto;
width: 100%;
height: 300px; 
display: flex;
}

.box-text {
width: 30%;
background-color: green;
height: 500px;
}

.box-pic {
    width: 70%;
    background-color: rgb(255, 247, 0);
    height: 500px;
}

.big-container {
    width: 65%;
    margin: 0 auto;
    background-color: red;
    height: 1100px;
    padding-top: 300px;
    ;}

.Titolo2 {
    font-size: 50px;
    text-align: left;
}

#Btn2 {
    margin-left: 50px;
}
#Btn1 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.container-columns {
width: 80%;
margin: 0 auto;
height: 500px;
background-color: wheat;
display: flex;
justify-content:space-between;
;}

.column1 {
height: 500px;
flex-basis: 25%;
background-color: aliceblue;
}
.column2 {
    height: 500px;
    flex-basis: 25%;
    background-color: rgb(169, 193, 213);
    }

.column3 {
    height: 500px;
    flex-basis: 25%;
    background-color: rgb(151, 241, 236);
    }

.mini-container {
    width: 65%;
    margin: 0 auto;
    background-color: rgb(243, 165, 18);
    display: flex;
    justify-content: space-between
    ;}

.team {
    background-color: yellow;
    width: 65%;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}

.text-left {
    background-color: aqua;
    flex-basis: 60%;
    height: 200px;
}

.contact {
    background-color: rgb(0, 250, 83);
    flex-basis: 40%;
}
.main-1 {
    width: 65%;
    margin: auto;
    margin-top: 50px;
    background-color: aqua;
    }
    
    .container2 {
    background-color: blue;
    margin: auto;
    width: 100%;
    height: 500px; 
    display: flex;
    }
    
    .box-text2 {
    width: 30%;
    background-color: green;
    height: 250px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    }
    .box-pic2 {
        width: 70%;
        background-color: rgb(255, 247, 0);
        height: 500px;
    }

    .Esegui-Diagnosi {
    width: 65%;
    background-color: rgb(24, 208, 24);
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    }

  .text-pics {
    background-color: aqua;
    height: 650px;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;  }

  .text-pic1 {
height: 270px;
background-color: rgb(0, 255, 170);
flex-basis: 20%;
margin-right: 80px;
margin-left: 120px;
margin-top: 30px;

  }
  
.text-pic2 {
height: 270px;
background-color: rgb(52, 126, 255);
flex-basis: 20%;
margin-right: 70px;
margin-top: 30px;

}

.text-pic3 {
height: 270px;
background-color: rgb(68, 197, 17);
flex-basis: 20%;
margin-right: 40px;
margin-top: 30px;

; }

.text-pic4 {
height: 270px;
background-color: rgba(17, 181, 91, 0.628);
flex-basis: 20%;
margin-left: 80px;
margin-right: 70px;
margin-left: 120px;
}

.text-pic5 {
 height: 270px;
background-color: rgb(22, 37, 197);
flex-basis: 20%;
margin-right: 70px;
 }


.text-pic6 {
height: 270px;
background-color: rgb(29, 214, 152);
flex-basis: 20%;
}

.mini-section {
    height: 100px;
    width: 32.5%;
    background-color: rgb(236, 236, 14);
margin-left: 285px;
margin-top: 100px;
margin-bottom: 100px;
}


.super-box {
width: 100%;
height: 400px;
background-color: beige;
display: flex;
}

.columnbig1 {
height: 400px;
background-color: yellow;
width: calc(100vw/3);}

.columnbig2 {
    height: 400px;
    background-color: rgb(0, 255, 8);
    width: calc(100vw/3);
    }

    .columnbig3 {
        height: 400px;
        background-color: rgb(19, 83, 21);
        width: calc(100vw/3);}



.Blue-Box {
background-color: rgb(0, 191, 255);
width: 100%;
height: 250px;
margin: 0 auto;  }

        
.Questions {
background-color: green;
width: 65%;
height: 250px;
margin: 0 auto;
}


.Section-list {
    background-color: rgb(92, 92, 92);
    width: 70%;
    height: 220px;
    margin: 0 auto;
    display: flex;
}

.box1 {
width: calc(70vw/5);
background-color: aqua;
height: 220px;}

.box2 {
    width: calc(70vw/5);
    background-color: rgb(12, 59, 59);
    height: 220px;}
    
    .box3 {
        width: calc(70vw/5);
        background-color: rgb(0, 106, 255);
        height: 220px;
        }

        .box4 {
            width: calc(70vw/5);
            background-color: rgb(12, 59, 59);
            height: 220px;
            }
            .box5 {
                width: calc(70vw/5);
                background-color: rgb(0, 255, 229);
                height: 220px;
                }

